body {
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin: 0;
      padding: 0%;
      background-color: #4b4d4d;
 }
#wrap {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 350px;
}


}
@frame{
      0% {
            transform: translateY(0) translateX(0) scale(0.30);
            opacity: 0.30;
      }
      100% {
            transform: translateY(-400px) translateX(50px) scale(6);
            opacity: 0;
      }

}
.mug-body {
      position: absolute;
      width: 110%;
      height: 300px;
      background-color: black;
      border-radius: 0 0 400px 400px;
      overflow: hidden;
      z-index: 1;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.cup-handle {
      position: relative;
      right: -40%;
      width: 90px;
      height: 80px;
      border: 50px solid red;
      margin-left: 135px;
      margin-bottom: 100px;
      border-radius: 0 80px 150px 0;
}
.mug-dimension {
      position: absolute;
      width: 1000px;
      height: 400px;
      margin-left: 45%;
      margin-top: -10px;
      transform: rotate(10deg);
      background-color: black;
    }
#steam {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    margin-left: 75px;
    margin-top: -75px;
    z-index: 0;
    opacity: 0;
}
.steam-one {
    animation: steam-one 4s ease-out infinite;
}
.steam-three {
    animation: steam-one 4s ease-out 1s infinite;
}
@keyframes steam-one {
    0% {
            transform: translateY(0) translateX(0) scale(0.25);
            opacity: 0.25;
      }
      100% {
            transform: translateY(-200px) translateX(20px) scale(1);
            opacity: 0;
      }
}
.steam-two {
      animation: steam-two 4s ease-out 0.5s infinite;
}
.steam-four {
      animation: steam-two 4s ease-out 1.5s infinite;
}
      .steam-two {
            animation: steam-two 4s ease-out 0.5s infinite;
      }
      .steam-four {
            animation: steam-two 4s ease-out 1.5s infinite;
      }
      @keyframes steam-two {
            0% {
              transform: translateY(0) translateX(0) scale(0.50);
            opacity: 0.25;
      }
      100% {
            transform: translateY(-200px) translateX(-20px) scale(1);
            opacity: 0;
      }
}
.plate {
      position: absolute;
      bottom: -25px;
      width: 90%;
      height: 30px;
      border-radius: 0 0 150px 150px;
      background-color: gray;
      margin-left: 30px;
      z-index: 2;
}
