* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}
header,footer {
  background-color: #DCECF2;
  color: black;
}
h2 {
  color: red;
}
li {
  display: inline;
}

body {
  background-color: #eaefec;
}
