* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #eaefec;
}
header,footer {
  background-color: #DCECF2;
  color: black;
}
h2 {
  color: red;
}
li {
  display: inline;
  margin-right: 0; 20px;
}

}
@media screen and (min-width: 1500px) {
body {
    background-color: lightgreen;
  }
}

@media screen and (min-width: 900px) {
body {
    background-color: lightgray;
