* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #dddddd;
}

.board {
  width: 800px;
  margin: 50px auto;
}

.column {
  width: 300px;
  margin: 50px auto;
}

.red {
  width: 100px;
  height: 100px;
  background-color: tomato;
  float: left;
}

.black {
  width: 100px;
  height: 100px;
  background-color: #222222;
  float: left;
}

.column1 {
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
}

.column2 {
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
}

.column3 {
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
