* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #dddddd;
}

.board {
  width: 800px;
  margin: 50px auto;
}


.red {
  width: 100px;
  height: 100px;
  background-color: tomato;
  float: left;
}

.black {
  width: 100px;
  height: 100px;
  background-color: #222222;
  float: left;
}







.column {
	width: 600px;
	margin: 50px auto;
  background-color:white;
  display: flow-root;
}



.header {
  width: 600px;
  height:100px;
  margin-top: 20px;
  margin-bottom: 20px;
	float: left;
	background-color:red;
}

.header2 {
  width: 600px;
  height:20px;
	float: left;
	background-color:red;
}


.footer {
  width: 600px;
  height: 100px;
	float: left;
	background-color: red;
}


 .column-left {
	width: 186px;
  height:400px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right:0;
  float: left;
	background-color: red;
}

.column-center {
  width: 186px;
  height:400px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right:20px;
  float: left;
  background-color: red;
}

.column-right {
	width: 186px;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right:0;
	float: left;
	background-color: red;
}







.blog {
	width: 1000px;
	margin: 200px auto;
  background-color: white
  display: flow-root;
}

.blogheader {
  width: 600px;
  height:100px;
	float: left;
	background-color:red;
}

.blog-1 {
 width: 600px;
 height:600px;
 margin: 30px auto;
 float: left;
 background-color: red;
}

.blog-11 {
 width: 150px;
 height:200px;
 margin-top: 30px;
 margin-bottom: 30px;
 margin-left:20px;
 margin-right:20px;
 float: left;
 background-color: red;
}
.blogfooter1 {
  width: 600px;
  height: 50px;
	float: left;
	background-color: red;
}



.blog-2 {
 width: 600px;
 height:600px;
 margin: 90px auto;
 float: left;
 background-color: red;
}

.blog-12 {
 width: 150px;
 height:200px;
 margin-top: 90px;
 margin-bottom: 30px;
 margin-left:20px;
 margin-right:20px;
 float: left;
 background-color: red;
}


.blogfooter {
  width: 600px;
  height: 50px;
	float: left;
	background-color: red;
}
