body {
 margin: 0;
}
main {
 width: 120vw;
}
.shape1 {
  width: 100px;
  height: 100px;
  background-color :tomato;
  float: left;
}
.shape2 {
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
  float: left;
}
.shapes3 {
  width: 100px;
  height: 100px;
  background-color: gold;
  float: left;
}
